{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./style/tailwind.config.js",
  "overrides": [
    {
      "files": "*.{js,jsx,tsx,ts,scss,json,html}",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
